html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background: linear-gradient(45deg, 
        rgba(255,252,169,1) 0%, 
        rgba(255,242,114,1) 50%, 
        rgba(255,252,169,1) 100%);
    height: 100%;
}

#titleHeader {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

#top {
    align-items: flex-start
}

#bottom {
    flex-direction: column;
    margin-bottom: 20px;
}

.inputSection {
    padding:15px;
    width: 250px;
    max-width: 250px;
}

input {
    text-align: center;
    margin: 8px;
}

#ageSlider {
    cursor: pointer;
}

button {
    background-color: rgb(204, 180, 180);
    border: 2px solid white;
    color: white;
    border-radius: 8px;
    padding: 12px;
    width: 82px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    transition-property: transform, color, border;
}

button:hover {
    color: black;
}

#Red {
    background-color: red;
}
#Blue {
    background-color: blue;
}
#Green {
    background-color: green;
}
#Pink {
    background-color: magenta;
}
#Orange {
    background-color: orangered;
}
#Purple {
    background-color: purple;
}
#generateWish {
    width: 94px;
    color: black;
    border: 2px solid rgb(204, 180, 180);
}

span {
    font-size: 22px;
    font-weight: bold;
}

img {
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 60%;
}