.inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding; 0 20px;
    text-align: center;
}

input {
    text-align: center;
    margin: 8px;
}

.selectColour {
    padding:15px;
    width: 250px;
    max-width: 250px;
}

button {
    background-color: rosybrown;
    border: none;
    color: rgb(12, 0, 0);
    padding: 15px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#Red {
    background-color: red;
}
#Blue {
    background-color: blue;
}
#Green {
    background-color: green;
}
#Pink {
    background-color: magenta;
}
#Orange {
    background-color: orangered;
}
#Purple {
    background-color: purple;
}

.name {
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    width: 250px;
    max-width: 250px;
    min-height: 90px;
}

.bdayAge {
    padding: 15px;
    width: 250px;
    max-width: 250px;
}

#titleName {
    text-align: center;
}

.outputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding; 0 20px;
    text-align: center;
}

span {
    border: solid
}

img {
    max-width: 70%;
}