html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: Candara, Arial, sans-serif;
    background: linear-gradient(45deg, 
        rgb(255, 225, 169) 0%, 
        rgb(255, 190, 114) 50%, 
        rgb(255, 225, 169) 100%); 
    height: 100%;
}

#banner { 
    position: fixed; 
    top: 0; 
    left: 0; 
    background-color: rgb(191, 245, 245); 
    width: 100%;
    display: flex;
    align-items: center;
}

#bannerContent { 
    width: 100%; 
    margin: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#titleHeader {
    text-align: center;
    margin: 0px;
}

#cakeIcon {
    width: 40px;
    margin: 0px;
}

#mainContent { 
    padding-top: 55px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

#top {
    align-items: flex-start
}

#middle {
    align-items: flex-start
}

#bottom {
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inputSection {
    padding:10px;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
}

.buttonSection {
    padding:10px;
}

input {
    text-align: center;
    margin: 8px;
}

input:focus {
    outline: none;
    box-shadow: 0px 0px 3px 2px rgb(97, 99, 99);
}

#ageSlider {
    cursor: pointer;
}

#ageSlider:focus {
    box-shadow: none;
}

#ageSlider:focus::-webkit-slider-thumb {
    box-shadow: 0px 0px 3px 2px rgb(97, 99, 99);
}

button {
    background-color: rgb(175, 178, 178);
    color: white;
    border-radius: 50%;
    border: 6px solid rgb(175, 178, 178);
    padding: 10px;
    display: inline-block;
    margin: 4px;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.637), 0 17px 50px 0 rgba(0, 0, 0, 0.637);
}

button:focus {
    outline: none;
    box-shadow: 0px 0px 3px 3px rgb(97, 99, 99);
}

#backgroundRed {
    background-color: red;
}
#backgroundBlue {
    background-color: blue;
}
#backgroundYellow {
    background-color: yellow;
}
#backgroundGreen {
    background-color: green;
}
#backgroundPink {
    background-color: magenta;
}
#backgroundBlack {
    background-color: black;
}
#backgroundOrange {
    background-color: orangered;
}
#backgroundPurple {
    background-color: purple;
}
#backgroundWhite {
    background-color: white;
}
#textRed {
    border-color: red;
}
#textBlue {
    border-color: blue;
}
#textYellow {
    border-color: yellow;
}
#textGreen {
    border-color: green;
}
#textPink {
    border-color: magenta;
}
#textBlack {
    border-color: black;
}
#textOrange {
    border-color: orangered;
}
#textPurple {
    border-color: purple;
}
#textWhite {
    border-color: white;
}

form {
    text-align: left;
}

span {
    font-size: 22px;
    font-weight: bold;
}

img {
    max-width: 400px;
    display: block;
    width: 60%;
}