html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background: linear-gradient(45deg, 
        rgba(255,252,169,1) 0%, 
        rgba(255,242,114,1) 50%, 
        rgba(255,252,169,1) 100%);
    height: 100%;
}

#titleHeader {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

#top {
    align-items: flex-start
}

#middle {
    align-items: flex-start
}

#bottom {
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inputSection {
    padding:15px;
    width: 250px;
    max-width: 250px;
}

input {
    text-align: center;
    margin: 8px;
}

#ageSlider {
    cursor: pointer;
}

button {
    background-color: white
    border: 2px solid white;
    color: white;
    border-radius: 8px;
    padding: 12px;
    width: 82px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    transition-property: transform, color, border;
}

#backgroundRed {
    background-color: red;
}
#backgroundBlue {
    background-color: blue;
}
#backgroundGreen {
    background-color: green;
}
#backgroundPink {
    background-color: magenta;
}
#backgroundOrange {
    background-color: orangered;
}
#backgroundPurple {
    background-color: purple;
}
#textRed {
    border: 2px solid red;
    color: red;
}
#textBlue {
    border: 2px solid blue;
    color: blue;
}
#textGreen {
    border: 2px solid green;
    color: green;
}
#textPink {
    border: 2px solid magenta;
    color: magenta;
}
#textOrange {
    border: 2px solid orangered;
    color: orangered;
}
#textPurple {
    border: 2px solid purple;
    color: purple;
}
#generateWish {
    width: 94px;
    background-color: grey;
}

form {
    text-align: left;
}

#textForm {
    padding-left: 78px;
}
#backgroundForm {
    padding-left: 42px;
}

span {
    font-size: 22px;
    font-weight: bold;
}

img {
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 60%;
}